# .gitignore
# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg/
sample_data.py
Feature_Analysis.py

# Virtual environments
loaf/
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Data files
*.csv
*.pkl
*.h5
*.log
src/Model_P/**/*.pickle
src/**/*.pickle


