# Core dependencies
requests==2.31
pandas==2.1.4
numpy>=1.21.0
python-dotenv==1.0.0
plotly>=5.0.0

# Date/time handling
python-dateutil==2.8.2
pytz==2023.3.post1

# Utility Libraries
typing-extensions>=4.0.0  # Type hint support (for Python <3.9)

# Development/Testing (Optional)
pytest>=7.0.0  # For running tests
mypy>=0.910  # Static type checking
pylint>=2.12.0  # Code quality analysis



#libraries for data processing and machine learning
scikit-learn>=0.22.0
scipy>=1.4.0
psutil>=5.7.0
lightgbm>=3.0.0
statsmodels>=0.11.0
requests>=2.23.0
prophet>=1.0.0